.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-decoration-line: none;
  margin-right: 16px;
  transition: opacity 0.5s ease;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin: 0;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
      font-size: 24px;
      line-height: 1.17;
    }
}