.lead {
  padding: 48px 0 0 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .lead {
      padding: 56px 48px 0 48px;
  }
}

@media screen and (min-width: 1280px) {
    .lead {
        padding: 56px 148px 0 148px;
        max-width: 984px;
        margin: 0 auto;
    }
}