.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  position: relative;
  margin: 16px auto 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
      font-size: 18px;
      line-height: 1.22;
      max-width: 360px;
      margin: 32px auto 0 auto;
    }
}