.place__website {
  margin: 0 16px 32px 16px;
  padding: 0;
  min-height: 46px;
  min-width: 288px;
}

@media screen and (min-width: 768px) {
    .place__website {
        margin: 0;
        grid-area: url;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}